
.easytab-links{
	text-align: center;
	background-color: #f3f3f3;
}
.easytab-links > ul{
	display: -webkit-inline-box;
    margin-bottom: 0px;
    padding-left: 0px;
}
.easytab-links > ul > li{
	list-style: none;
	padding: 30px;
	position: relative;
	cursor: pointer;
	flex: 1;
}
.easytab-links > ul > li.active{
	color: #2269A6;
}
.easytab-links > ul > li.active > .arrow-down{
	font-size: 0px;
    line-height: 0%;
    width: 20px;
    border-top: 20px solid #f3f3f3;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.easytab-links > ul > li.active > .arrow-up{
	font-size: 0px;
    line-height: 0%;
    width: 20px;
    border-bottom: 12px solid #e0e0e0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.easytab-panel{
	height: auto;
	width: 100%;
}
.easytab-pane{
	min-height: 300px;
	width: 100%;
	padding: 50px;
	display: none;
}
.easytab-panel > .active{
	display: block;
}

@media (max-width: 767px){
	.easytab-links > ul {
	    display: inline-flex;
	}
	.easytab-links > ul > li {
	    font-size: 14px;
	    border-bottom: 1px solid #efefef;
	}
}
@media (max-width: 650px){
	.easytab-links > ul{
	    display: block;
	}
	.easytab-links > ul > li.active > .arrow-down{
		border-bottom: 12px solid #e0e0e0;
		border-left: 12px solid transparent;
    	border-right: 12px solid transparent;
    	bottom: 0px;
	}
}